body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;

}

.error_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    

}

.error_heading h2 {
    text-align: center;
}

.error_wrapper img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}